/* Elemen Selector */
body{
    background-color: rgb(255, 217, 167);
    font-family: verdana;
}
p{
    color:black;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
    color:black;
    text-decoration: underline;
}
.rounded{
    border-radius: 20px;
}

/*Class Selector*/
.bg-warning{
    background-color: yellow;
}
.text-success{
    color:green;
}

/*ID Selector*/
#p{
    color:darkblue
}